.card-title {
    font-weight: bold;
    font-family: "lato";
    color: #000000;
}

.card-subtitle {
    font-style: italic;
    font-family: "Open Sans";
    color: #808080;
    font-size: 13px;
}

.card-text {
    font-family: "Open Sans";
    color: #686868;
    font-size: 14px;
}

.card-text.medium {
    font-weight: bold;
}

.category {
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 5px;
}

.img-container img {
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
}

.card-body {
    padding: 20px 0px 20px 0px
}

.img-container img:hover {
    transform: scale(1.05);
}

.img-container {
    overflow: hidden;
}

.author-box {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-subtitle {
    margin-left: 5px;
}

.big .card-subtitle, .medium .card-subtitle {
    font-weight: bold;
}

.container {
    margin-top: 60px;
}

@media (max-width: 991.98px) {
    .btn {
        display: none;
    }
}

.btn:active {
    border: 0px
}

.empty div {
    margin-top: 10px;
}

.empty {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    font-size: 22px;
    color: brown;
}

.empty img {
    height: 120px;
}